[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Stefan Zweig (stefanzweig)
[access "refs/for/refs/*"]
	read = group user/Stefan Zweig (stefanzweig)
	push = group user/Stefan Zweig (stefanzweig)
	label-Code-Review = -2..+2 group user/Stefan Zweig (stefanzweig)
	label-Verified = -1..+1 group user/Stefan Zweig (stefanzweig)
	rebase = group user/Stefan Zweig (stefanzweig)
	removeReviewer = group user/Stefan Zweig (stefanzweig)
	submit = group user/Stefan Zweig (stefanzweig)
[access "refs/heads/*"]
	read = group user/Stefan Zweig (stefanzweig)
	create = group user/Stefan Zweig (stefanzweig)
	push = +force group user/Stefan Zweig (stefanzweig)
	pushMerge = group user/Stefan Zweig (stefanzweig)
[access "refs/tags/*"]
	push = group user/Stefan Zweig (stefanzweig)
	push = +force group user/Stefan Zweig (stefanzweig)
